<!DOCTYPE html>
<html>
  <head>
    <title>es-read</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>es-read</p>
    <a href="/pages/es6">es6</a>
  </body>
</html>
