<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!-- lib --}}
    <link rel="stylesheet" href="/lib/highlight/arta.css">
    <script src="/lib/highlight/highlight.js"></script>
    <script >hljs.initHighlightingOnLoad();</script>
    {{!-- custom --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/js/utils.js"></script>
  </head>
  <body>
      {{{body}}}
  </body>
</html>
